.p-t-medium {
    padding-top: 1rem;
}
.p-b-medium {
    padding-bottom: 1rem;
}
.p-y-medium {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.p-x-medium {
    padding-left: 1rem;
    padding-right: 1rem;
}
.p-medium {
    padding: 1rem;
}
