@mixin bold {
    font-weight: 600;
}

.capital {
    text-transform: capitalize;
}
.uppercase {
    text-transform: uppercase;
}
.heading1 {
    font-size: 7rem;
    font-weight: 400;

    &-bold {
        @include bold();
    }
}
.heading2 {
    font-size: 4rem;
    font-weight: 400;
    &-bold {
        @include bold();
    }
}
.heading3 {
    font-size: 3rem;
    font-weight: 400;
    &-bold {
        @include bold();
    }
}
.heading4 {
    font-size: 2rem;
    font-weight: 400;
    &-bold {
        @include bold();
    }
}
.heading5 {
    font-size: 1.5rem;
    font-weight: 400;
    &-bold {
        @include bold();
    }
}
.auth__footer-link {
    text-align: center;
    text-transform: capitalize;
    font-size: 1.2rem;
}
.auth__mainContent {
    &-terms {
        text-transform: capitalize;
        font-size: 1.2rem;
    }
    &-switch {
        text-transform: capitalize;
    }
}

.header__title {
    font-size: 2.2rem;
    font-weight: 600;

    span {
        font-size: 1.5rem;
        font-weight: 400;
    }
}

.new-tweet__textfield {
    &::placeholder {
        font-size: 1.7rem;
    }
}

.tweet-post {
    &__username {
        font-size: 1.2rem;
        font-weight: 400;
    }
}
