.layout {
    width: 100vw;
    display: grid;
    grid-template-columns:
        minmax(5rem, 1fr)
        [content-start sidebar-start] repeat(4, 1fr)
        [sidebar-end main-start] repeat(9, 1fr) [main-end search-start]
        repeat(5, 1fr)
        [search-end content-end]
        minmax(5rem, 1fr);
    grid-template-rows: 100vh;

    position: relative;
    overflow-y: scroll;
    &__sidebar {
        grid-column: sidebar-start / sidebar-end;
        position: sticky;
        top: 0;
        height: 100vh;
    }
    &__main {
        grid-column: main-start / main-end;

        border: 1px solid $color-grey-light;
    }
    &__search {
        grid-column: search-start / search-end;
        background-color: red;
        height: 100vh;
        position: sticky;
        top: 0;
    }
}
