$color-primary: rgb(29, 155, 240);
$color-primary-light: rgb(146, 205, 244);
$color-primary-light2: rgb(206, 230, 245);
$color-grey: rgb(118, 118, 118);
$color-grey-light: rgb(240, 240, 240);
$color-green-light: rgba(0, 186, 124, 0.2);
$color-green: rgb(0, 186, 124);
$color-red-light: rgba(249, 24, 128, 0.2);
$color-red: rgb(249, 24, 128);

$color-white: white;
$color-black: black;
