$color-primary: rgb(29, 155, 240);
$color-primary-light: rgb(146, 205, 244);
$color-primary-light2: rgb(206, 230, 245);
$color-grey-dark: rgb(63, 63, 63);
$color-grey: rgb(118, 118, 118);
$color-grey-light: rgb(240, 240, 240);

$color-white: white;
$color-black: black;
