.trends {
    margin: 1rem;

    padding-top: 0.2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color-grey-light;

    &__header {
        margin: 1.5rem;
        display: flex;
        justify-content: space-between;
        text-transform: capitalize;
        font-weight: bold;
    }
}

///individual trend
.trend {
    padding: 1rem 1.5rem;
    display: flex;
    row-gap: 0.5rem;
    flex-direction: column;

    &__topic {
        display: flex;
        justify-content: space-between;
    }

    &:hover {
        background-color: $color-grey-light-dark;
    }
}
