.tweet {
    display: grid;
    justify-items: flex-start;
    align-items: flex-start;
    grid-template-columns: min-content 1fr;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    &__avatar-separator {
        grid-row: 1 / span 3;
        align-self: flex-start;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    &__avatar {
        width: 4rem;
        height: 4rem;
        object-fit: cover;
        object-position: center;
        &--image {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }
    &__separator {
        width: 2px;
        height: 100%;
        background-color: $color-grey-light;
        justify-self: stretch;
    }
    &__body {
        grid-column: 2;

        width: 100%;
    }
}
//////////////////////////////////
///////////////////// End component

////////////////////////////////////
//////////////////New Tweet component
.new-tweet {
    border-bottom: 1px solid $color-grey-light;
    &__textfield {
        border: none;
        outline: none;
        display: block;
        width: 100%;
        height: 5rem;
        cursor: text;
        overflow-wrap: 'break-word';

        &:focus + .new-tweet__reply {
            display: flex;
        }
    }
    &__reply {
        display: none;
        align-items: center;
        width: 100%;
        gap: 0.5rem;
        cursor: pointer;
        overflow-wrap: 'break-word';
        color: $color-primary;
        padding-bottom: 1.5rem;
        margin-top: 1rem;
        border-bottom: 1px solid $color-grey-light;
    }
    &__iconButton {
        display: inline-block;
        width: 3.5rem;
        height: 3.5rem;
        border: none;
        background-color: transparent;
        border-radius: 50%;
        padding: 0.5rem;
        color: $color-primary;
        cursor: pointer;
        &:hover {
            background-color: $color-primary-light2;
        }
    }
    &__buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 5rem;
    }
    &__button {
        border: none;
        background-color: $color-primary;
        color: white;
        padding: 1rem 2rem;
        font-weight: 600;
        border-radius: 3rem;
    }
}
//////////////////////////////////
///////////////////// End component

////////////////////////////////////
//////////////////Tweet Post component
.tweet-post {
    &__username {
        color: $color-grey;
        margin-left: 0.5rem;
    }
}
//////////////////////////////////
///////////////////// End component

//////////////////////////////////
//////////Tweet Post footer component

.tweet-post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .defaultColor {
        &:active {
            color: $color-primary;
        }
        &:hover {
            color: $color-primary;
        }
    }
    .defaultColor-light {
        &:active {
            background-color: $color-primary-light2;
        }
        &:hover {
            background-color: $color-primary-light2;
        }
    }

    .redColor {
        &:active {
            color: $color-red;
        }
        &:hover {
            color: $color-red;
        }
    }
    .redColor-light {
        &:active {
            background-color: $color-red-light;
        }
        &:hover {
            background-color: $color-red-light;
        }
    }
    .greenColor {
        &:active {
            color: $color-green;
        }
        &:hover {
            color: $color-green;
        }
    }
    .greenColor-light {
        &:active {
            background-color: $color-green-light;
        }
        &:hover {
            background-color: $color-green-light;
        }
    }

    &__button {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    &__icon {
        border: none;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: currentColor;
        background-color: transparent;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
    }
}
//////////////////////////////////
///////////////////// End component

//////////////////////////////////
//////////Multiple Tweet component

.multiple-tweet {
    display: flex;
    border-bottom: 1px solid $color-grey-light;
    flex-direction: column;
}
