.wideCurvedButton {
    max-width: 40rem;
    min-width: 30rem;
    height: 3.5rem;
    padding: 5px auto;
    border-radius: 3rem;
    background-color: $white;
    border: 1px solid $grey;
    text-align: center;
    display: block;
    text-transform: uppercase;
    font-weight: bold;

    &:hover {
        background-color: $grey-light;
    }
}
