html {
    font-size: 62.5%;
    box-sizing: border-box;
}

html,
body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 1.2;
}

a {
    text-decoration: none;
    color: currentColor;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
@import './variables/variables';
@import './topography/topography';
@import './component/wide_curved_button';
@import './pages/signIn';
